<div class="grid-container" >
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header style="text-align: center; display: contents;">
          <mat-card-title>
            Introduzca su texto
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
         <div class="col">

           <span> Cadena de máximo 500 caracteres le quedan: {{500 - contador}} caracteres</span>
           <form (ngSubmit)="enviar()">
            <p>
              <textarea
              class = "textareawidth"
              type="text" 
              name="cadena" 
              placeholder="introduzca un texto" 
              (keyup)="contarCaracteres($event)" 
              maxlength="500" size="100" 
              [(ngModel)]="texto.cadena"
              ></textarea>
            </p>
            
            <p>Máxima longitud de la subcadena:
              <input 
              type="tamSubcadena"
              name="tamSubcad"
              type = "number"
              style="width: 20px;"
              [(ngModel)]="texto.tamSubcadena">
            </p>
            <button mat-raised-button [disabled]="validarCondiciones()" type="submit">Enviar</button> 
            <p></p>
            <h4 style="color: grey;">{{ getMessageError()}}</h4>
          </form>
         </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="grid-container">
    <mat-card class="simple-card" style="border-radius: 20px;">
      <div class="col" >

      <mat-card-title>Resultados</mat-card-title>
      <mat-list>
        <mat-list-item  *ngFor="let subcadena of subdivision">{{subcadena}}</mat-list-item>
      </mat-list>
    </div>
    </mat-card>
    
    

  
</div>

